<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/main.css">
    <title>Index</title>
</head>
<body style="background-color: #edf2f4;">
    <div class="container" style="height: 5rem;"></div>
    <div class="container">
        <h1>BunnyCDN ImgBox</h1>
        <p>Selected Storage Name: <%= storageName %></p>
        <p>Region: <%= region.toUpperCase() %></p>
    </div>

    <div class="container whitespace" style="height: 20px;"></div>
    
    <div class="container d-flex flex-row justify-content-center">
        <div class="pull-zones d-flex flex-column flex-fill">
            <!-- FILE MANAGER/VIEWER -->
            <h2>Folders</h2>

            <div class="container d-flex flex-column justify-content-start align-items-start p-2 gap-2" style="max-height: 45vh; overflow-y: auto;">
                <% if (files && files.length > 0) { %>
                    <% files.forEach(function(file) { %>
                        <button class="file file-wrapper container btn btn-light justify-content-center" onclick="clickedFolder('<%= file.ObjectName %>')">
                            <p class="p-3 m-0 fw-semibold" style="text-align: left;"><%= file.ObjectName %></p>
                        </button>
                    <% }); %>
                <% } else { %>
                    <p>No files found.</p>
                <% } %>

                <!-- <div class="box"></div> -->
            </div>
        </div>

        <div class="whitespace"></div>

        <div class="d-flex flex-column flex-fill">
        <h3>Upload</h3>
            <p id="finalPath"><span id="folder"></span>/<span id="chapters"></span></p>
            <form method="post" action="/upload" enctype="multipart/form-data">
                <input type="hidden" id="finalPathInput" name="finalPathInput" value="">
                <input type="text" name="Chapter Name" id="ChapterName">
                <input type="file" name="file" id="file">
                <input type="submit" value="submit">
            </form>
        </div>
    </div>


    <script>

        let finalPath = '';

        function path(){
            finalPath = document.getElementById('finalPath').textContent;
            document.getElementById('finalPathInput').value = finalPath;
            console.log(finalPath)
        }

        function clickedFolder(folderName) {
            document.getElementById('folder').innerText = folderName;
            path();
        }

        document.getElementById('ChapterName').addEventListener('input', function() {
            document.getElementById('chapters').textContent = this.value;
            path();
            console.log(finalPath);
        })
        
    </script>

</body>
</html>