<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/main.css">
    <title>Index</title>
</head>
<body>
    <div class="container" style="height: 5rem;"></div>
    <div class="container">
        <h1>BunnyCDN ImgBox</h1>
        <p>Selected Storage Zones: <span id="storageId">None</span></p>
        <p>Region: <span id="region">None</span></p>
    </div>

    <div class="container whitespace" style="height: 20px;"></div>
    
    <!-- Selector -->
    <div class="container d-flex flex-row">
        <div class="pull-zones d-flex flex-column flex-fill">
            <h2>Storage Zones</h2>

            <div class="container wrapper d-flex justify-content-start">
                <% pullZones.forEach(function(item) { %>
                    <form action="/storageId" method="post" id="storageForm" class="storageForm">
                        <input type="hidden" name="storageId" value="<%= item.Name %>" id="storageId">
                        <input type="submit" value="<%= item.Name %>">
                    </form>
                <% }); %>

                <!-- <div class="box"></div> -->
            </div>
        </div>

        <div class="whitespace"></div>

    </div>


    <div class="container d-flex flex-column">
        <h3>Upload</h3>
        <label for="ChapterName">Upload Images</label>
        <input type="text" name="Chapter Name" id="ChapterName">
        <input type="file" name="Upload Images..." id="imageHandler">
        <input type="submit" value="submit">
    </div>


    <script>

    function fetchStorageId() {
        fetch('/storageId', {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.storageId);
            document.getElementById('storageId').innerText = data.storageId;
        })
        .catch(error => console.error('Error fetching storageId:', error));
    }

    function fetchRegion() {
        fetch('/region', {
            method: 'GET',
            headers: {
                'Accept': 'application/json',
            },
        })
        .then(response => response.json())
        .then(data => {
            console.log(data.storageId);
            document.getElementById('region').innerText = data.region;
        })
        .catch(error => console.error('Error fetching region:', error));
    }

    fetchStorageId();
    fetchRegion();
        
    document.querySelectorAll('.storageForm').forEach(form => {
        form.addEventListener('submit', async function(event) {
            event.preventDefault();

            // Initialize an object to hold the form data
            let formData = {};

            // Example of adding specific form data; adjust according to your form structure
            formData['storageId'] = this.querySelector('input[name="storageId"]').value; // Adjust the selector as needed

            // Fetch API call using the formData object
            fetch('/storageId', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData),
            })

            await fetchStorageId();
            await fetchRegion();
        });
    });
</script>

    
</body>
</html>