.box {
    width: 100px;
    height: 100px;
    background-color: red;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 10px 0;
    background-color: inherit;
}

.file-wrapper{
    background-color: white;
}

.whitespace{
    display: flex;
    width: 20px;
}

a {
    color: black;
}

.links{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 600px;
}

.blur-effect {
    filter: blur(5px);
}

.linkText {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}